.БічнаПанель {
  display: flex;
  flex-direction: column;
}
.БічнаПанель-група {
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-hl2) var(--border-hl1) var(--border-hl1) var(--border-hl2);
  margin: 10px;
  padding: 15px 10px 10px;
  position: relative;
}

.БічнаПанель-група label {
  position: absolute;
  top: -10px;
  margin-left: -4px;
  background: var(--bg);
  padding: 0 4px;
  font-weight: bold;
}

.БічнаПанель-група label + p,
.БічнаПанель-група p:first-child {
  margin-top: 0;
}
.БічнаПанель-група p:last-child {
  margin-bottom: 0;
}


.Sidebar-score .БічнаПанель-група-container {
  display: flex;
  justify-content: center;
  margin-left: -1em;
}
.Sidebar-results {
  flex-grow: 1;
}


.БічнаПанель-матем > span {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.БічнаПанель-матем > span span:first-child {
  border-bottom: 1px solid;
}
.БічнаПанель-матем {
  /* XXX needs a non-hardcoded solution */
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-style: italic;
  background: var(--bg-hl);
  padding: 10px;
  margin-top: -10px;
}
