.Меню {
  display: flex;
  user-select: none;
  margin: 5px 10px 15px;
  align-items: flex-end;
}
.Меню li {
  margin-right: 20px;
}
.Меню span span {
  text-decoration: underline;
}
.Меню a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.Меню button:hover,
.Меню a:hover {
  text-decoration: underline;
}
.Меню button:not([disabled]):active,
.Меню a:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.Меню button:not([disabled]) {
  border-style: none;
  padding: 0;
  font-size: inherit;
}
.Меню button:hover {
  background: transparent;
}
